.secondmaindiv {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.chpbtn {
    border: 2px solid rgb(255, 255, 255);
    padding: 7px;
    border-radius: 10px;
    color: white;
    text-decoration: underline;
    text-decoration-color: beige;
}

.chpbtn:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(9, 98, 126);
    transition: .2s;
    transform: scale(1);
} 

body {
    background-image: url(https://wallpaperaccess.com/full/202978.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;

}  

.chpdiv > a {
    display: block;
    height: 50px;
}

.jca {
    color: beige;
}