.secondmaindiv {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
}

.chpbtn {
    border: 2px solid rgb(255, 255, 255);
    padding: 7px;
    border-radius: 10px;
    color: white;
}

body {
    background-image: url(https://img.freepik.com/free-vector/abstract-blue-light-pipe-speed-zoom-black-background-technology_1142-9980.jpg?w=740&t=st=1708857615~exp=1708858215~hmac=9131045455f904730e461a2b6867597fcd6ee5426c777899162ad6cccdd0f5c2);
    background-repeat: no-repeat;
    background-size: cover;
}

.jca {
    color: beige;
}